[Interface]
Address = {{ admiral_wireguard_ip }}/24
PrivateKey = {{ admiral_wg_private_key.stdout }}
ListenPort = {{ admiral_wireguard_port }}

{% if admiral_wireguard_role == 'hub' %}
{% set peer_state = namespace(keys=[]) %}
{% for peer in admiral_wireguard_peers | default([]) %}
{% set peer_key = peer.public_key | default('') | trim %}
{% if peer_key and peer.allowed_ips | default('') and peer_key not in peer_state.keys %}
[Peer]
PublicKey = {{ peer_key }}
AllowedIPs = {{ peer.allowed_ips }}
{% set peer_state.keys = peer_state.keys + [peer_key] %}
{% endif %}
{% endfor %}
{% for peer_block in admiral_existing_wireguard_peers | default([]) %}
{% set peer_key = (peer_block | regex_findall('(?m)^PublicKey\\s*=\\s*(.+)$') | first | default('') | trim) %}
{% if peer_block | trim and peer_key and peer_key not in peer_state.keys %}
{{ peer_block | trim }}
{% set peer_state.keys = peer_state.keys + [peer_key] %}
{% endif %}
{% endfor %}
{% for peer_fragment in admiral_existing_wireguard_peer_fragments | default([]) %}
{% set peer_key = (peer_fragment | regex_findall('(?m)^PublicKey\\s*=\\s*(.+)$') | first | default('') | trim) %}
{% if peer_fragment | trim and peer_key and peer_key not in peer_state.keys %}
{{ peer_fragment | trim }}
{% set peer_state.keys = peer_state.keys + [peer_key] %}
{% endif %}
{% endfor %}
{% elif admiral_wireguard_role == 'spoke' %}
[Peer]
PublicKey = {{ admiral_wireguard_hub_public_key }}
Endpoint = {{ admiral_wireguard_hub_endpoint }}:{{ admiral_wireguard_port }}
AllowedIPs = {{ admiral_wireguard_hub_ip | default('10.99.0.1') }}/32
PersistentKeepalive = 25
{% endif %}
